service: aws-java-simple-sns

provider:
  name: aws
  runtime: java8
  iamRoleStatements:
    - Effect: "Allow"
      Resource: "*"
      Action:
        - "sns:*"

package:
  artifact: target/aws-java-simple-sns-dev.jar

functions:
  publisher:
    handler: com.github.leegphillips.ServerlessPoCs.awsJavaSimpleSns.Publisher
    events:
      - http:
          path: input
          method: post
          
  listener:
    handler: com.github.leegphillips.ServerlessPoCs.awsJavaSimpleSns.Listener
    events:
      - sns: message